.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  width: fit-content;
  margin: 0 auto;
  background-color: #a7f6da;
  padding: 30px;
  border-radius: 6px;
}

a {
  text-decoration: none;
}
