.container {
  background-color: #a7f6da;
  width: 900px;
  margin: 0 auto;
  padding: 30px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  border-radius: 6px;

  &-item {
    background-color: #fdb36a;
    border: 3px solid #be7fff;
    border-radius: 6px;
    padding: 10px 20px;

    &-header {
     font-size: 17pt;
      font-weight: 700;
      color: #7b00ff;
    }

    &-value {
      font-size: 14pt;
      font-weight: 500;
    }
  }
}

.delete-btn {
  background-color: #fd7e46;
  border: 1px solid #6c00ff;
  border-radius: 6px;
  margin-top: 50px;
  font-size: 20px;
  color: #46201d;
  cursor: pointer;
}

.back-btn {
  background-color: #89c1f8;
  border: 1px solid #6c00ff;
  border-radius: 6px;
  margin-top: 50px;
  font-size: 20px;
  color: #46201d;
  cursor: pointer;
  height: 50px;
}

btn {
  width: 200px;
}

.buttons-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: fit-content;
  margin: 0 auto;
}

.comments-container {
  h1 {
    color: #6c00ff;
  }

  .comment-item {
    background-color: rgba(123, 0, 255, 0.17);
    border-radius: 6px;
    padding: 10px 70px;

    .comment-detail {
      display: grid;
      grid-template-columns: 70px 1fr;
      grid-gap: 20px;

      .name {
        color: #590000;
        font-size: 14pt;
        font-weight: 600;
      }

      .value {
        font-size: 13pt;
      }
    }
  }
}
